*{
    margin: 0;
    padding: 0;
}
:root{
    --secondary-color: cadetblue;
    --active-color : #ffc300;
}
body{
}
header{
    background-color: white;
    border-bottom:#666 solid 2px;
    position: sticky;
    top: 0; 
    z-index: 100;
}
.active{
    color: var(--active-color);
}
nav a{
    position: relative;
    size: 100%;
    font-size: 2em;
    text-decoration: none;
    color:cadetblue;
    transition: box-shadow 0.3s;
    transition: color 0.3s;
}
a:not(.active):hover {
    color: #666;
}

nav{
    display: flex;
    justify-content: center;

}

ul{
    left:20%;
    width: auto;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    
}

li{
    margin: 20px;
    list-style-type: none;

}



div.info-container{
    width: fit-content;
}
.home-container{

    justify-content: center;
    display: flex;
    justify-content:space-around;

}




/* Home section design */
.Home{
    height: 500px;
    padding-top: 10%;
}

.portrait{
    height: auto;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}
.info-container span{
    color: var(--active-color);
    font-size: 1.2em;
}
.info-container p{
    margin-bottom: 30px;
}
.info-container a{
    color: black;
    text-decoration: none;
    border:#666 solid 1.5px;
    border-radius: 7px;
    padding: 5px;
    background-color: var(--active-color);
}


/* About me section design */
.About-me{
    height: 500px;
    padding-top: 10%;
}

